

<div style="text-align:center; width:100%;font-size:300px; line-height:400px;" class="result">
   <%= users.length%>
</div>



<script>
setInterval(function(){
window.location = "/counter";
console.log('reloaded');
},3000);
</script>